
<div class="container mt-3 d-flex gap-2 flex-column">
   <div class="d-flex gap-1 align-items-center">
        <i class="bi bi-exclamation-octagon-fill fs-1" style="width: 64px;"></i>
        <h1>Acesso não autorizado</h1>
   </div>
    <a asp-action="Index" asp-controller="Home">Voltar</a>
</div>