@model int

@if (Model > 0 && User.Identity.IsAuthenticated) 
{
    <button class="position-relative bg-transparent border-0 mt-1" onclick="(() => window.location = '/carrinho')()">
        <i class="bi bi-cart-check-fill text-white"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
            @Model
            <span class="visually-hidden">unread messages</span>
        </span>
    </button>
}

