<div class="container">
    <i class="bi bi-people-fill" style="font-size: 64px;"></i>
    <h1>Ãrea de Administradores</h1>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar para Home</a>
</div>