
<div class="container mt-4">
  <div class="row">
    <form class="d-flex gap-2 flex-column col-6" enctype="multipart/form-data" asp-action="UploadFile" method="post">
        <div class="d-flex flex-column gap-2">
            <h1 class="display-5 fs-5 fw-semibold">Selecione um ou mais arquivos para enviar:</h1>
            <p>(Arquivos com o mesmo nome serão sobrescritos)</p>
            <input type="file" name="file">
            <button type="submit" class="mt-3 btn btn-primary align-self-start">Adicionar</button>
        </div>
        @if (ViewBag.FileError != null) 
        {
            <p class="text-danger">@ViewBag.FileError</p>
        }
   </form>
   <div class="col-6">
        <img src="" alt="" class="img-fluid" id="loadFile" style="max-width: 600px;">
   </div>
  </div>
</div>

@section Scripts {
    <script>

        document.querySelector('input[type=file]').addEventListener('change', function (e) {
            document.getElementById('loadFile').src = URL.createObjectURL(e.target.files[0]);
        });
    </script>
}